<header class="header">
  <button class="mobile-menu__btn" id="button">
    <span></span>
    <span></span>
    <span></span>
  </button>
  </div>
  <div class="mobile-menu__cover" id="menu">
    <ul class="mobile-menu__info">
      <li class="mobile-menu__list">
        <a href={{shop.url}}><img class="mobile-menu__shopLogo" src="{{ 'logo2.png' | asset_url }}" alt="logo"></a>
      </li>
      <li class="mobile-menu__list"><a href={{shop.url}} class="mobile-menu__link" id="link1">
          <h1 class="mobile-menu__linkText"><span>H</span>ome
        </a></h1>
      </li>
      {% assign collection  = collections["all"] %}
      <li class="mobile-menu__list"><a href={{collection.url}} class="mobile-menu__link">
          <h1 class="mobile-menu__linkText"><span>P</span>roduct
        </a></h1>
      </li>
      <li class="mobile-menu__list"><a href="blog.html" class="mobile-menu__link">
          <h1 class="mobile-menu__linkText"><span>B</span>log
        </a></h1>
      </li>
      <li class="mobile-menu__list">
        <div class="mobile-menu__map"><img class="mobile-menu__logo" src="{{ 'map.png' | asset_url }}">
          <h1 class="mobile-menu__mapText">〒100-0014 東京都千代田区永田町<br />１丁目７−１</h1>
        </div>
      </li>
      <li class="mobile-menu__list">
        <div class="mobile-menu__tel"><img class="mobile-menu__logo" src="{{ 'phone.png' | asset_url }}">
          <a href="tel:080-5099-945">
            <p class="mobile-menu__telNum">000-123-4567</p>
          </a> 
        </div>
      </li>
      <div class="mobile-menu__snsLogo">
        <li class="mobile-menu__list"><img class="mobile-menu__logo" src="{{ 'instagram.png' | asset_url }}"  alt="logo"></li>
        <li class="mobile-menu__list"><img class="mobile-menu__logo" src="{{ 'facebook.gif' | asset_url }}"></li>
      </div>
    </ul>
  </div>
</header>