<section class="category">
  <h1 class="sectionTitle"><span>C</span>ategory</h1>

  <div class="container">
  <ul class="category__all">
    {% for collection in collections %}
    <li class="category__list grid--{{section.settings.columns_mobile}}">
      <a href={{collection.url}}>
        <img class="category__img{{section.settings.colunms_mobile}}" src={{ collection.image | img_url:'300x' }}alt="">
        <p class="category__text">{{collection.title}}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
</section>


{% schema %}
{
	"name": "Category",
	"settings": [
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "モバイル版のカラム数"   
    }
	]
}
{% endschema %}