  {% assign collection = collection%}
  <section class="categorySection">
    <h1 class="categoryPage__sectionTitle">{{collection.title}}一覧</h1>
    <div class="container">
    <ul class="category__all">

   {%for product in collection.products %}
    <li class="category__list">
      <a class="categoryPage"href={{product.url}}>
        <img class="category__img" src="{{product.featured_image.src| img_url:"1000x" }}"alt="">
        <p class="categoryPage__text">{{product.title}}</p>
        <p class="categoryPage__text" >{{product.price | money}}</p>
      </a>
    </li>
   {%endfor%}
   </ul>
   </div>
  </section>
  {% section "original-recomends" %}