<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
 <link rel="stylesheet" href="{{ 'original-base.css' | asset_url }}">
  <link rel="stylesheet" href="styles/index.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>焼肉ECサイト</title>
</head>

<body>
  
  <section class="slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src="{{ 'karubi.jpg' | asset_url }}" alt="a" class="slider__image"><a href="#brand1">
            <div class="slider__explain">
              <h1 class="slider__explainTitle">神戸牛</h1>
              <div class="slider__explainDetail">
               <p>神戸牛の美味しさは何と言っても肉の「甘み」と「香り」です。兵庫県産の純血但馬牛の血統に支えられたきめ細かな口どけの良い味わいは、いつまでも舌の上にその甘さと存在感が尾を引く余韻の長さが特徴です。科学的な裏付けもあるその味わいは、やはり世界一のブランド牛の名にふさわしい味わいです。</p>
              </div>
              <p class="slider__explainTap">詳しくはスライドをタップ</p>
            </div>
          </a></div>
        <div class="swiper-slide"><img src="{{ '24189062_s.jpg' | asset_url }}" alt="a" class="slider__image"><a href="#brand2">
            <div class="slider__explain">
              <h1 class="slider__explainTitle">仙台牛</h1>
              <div class="slider__explainDetail">
                <p>口に入れた瞬間とろけるような牛肉を求めている人には間違いなくおすすめできます。なぜなら仙台牛が究極の霜降り牛と言っても過言ではないからです。それは肉質等級の高さからも間違いありません。
                  多くの牛肉の品評会でも、仙台牛は上位の常連ですし、それら品評会での審査基準も、霜降りは高く評価されます</p>
              </div>
              <p class="slider__explainTap">詳しくはスライドをタップ</p>
            </div>
          </a>
        </div>
        <div class="swiper-slide"><img src="{{ '4091193_s.jpg' | asset_url }}" alt="a" class="slider__image"><a href="#brand3">
            <div class="slider__explain">
              <h1 class="slider__explainTitle">松阪牛</h1>
              <div class="slider__explainDetail">
                <p>松阪牛は、三大和牛として称され、正式名称を「まつさかうし」として親しまれているブランドです。その特徴は霜降りの肉質で脂分が豊富で、食べた時にとろける様なまろやかさがある牛肉で、非常に美味しいことから人気となっています。</p>
              </div>
              <p class="slider__explainTap">詳しくはスライドをタップ</p>
            </div>
          </a></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
  </section>
  <!-- {% section "original-slider"%} -->

  {% section "original-brand"%}
  
  {% section "original-recomends"%}


  {% section "original-category"%}

  {% section "original-question" %}

  <section>
    <h1 class="sectionTitle"><span>B</span>log</h1>

    <div class="container">
    {% for article in blogs["ALL"].articles |limit:2 %}
    <a href={{article.url}}>
      <div class="blog">
        <img src="{{article.image | img_url:"300x200"}}" alt="ブログのサムネイル" class="blog__thumbNail">
        <h1 class="blog__articleTitle">{{article.title}}</h1>
       <p class="blog__publishDate" style="color: white; font-size: 10px; margin-top: 20%;">{{ article.published_at | time_tag: format: 'date' }}</p>
      </div>
    </a>
    {% endfor %}
      <a class="blog__viewMore" href= "{{blogs["ALL"].url}}" >
        view more
      </a>
    </div>
  </section>

  <script src="{{ 'original-main.js' | asset_url }}"></script>
</body>

</html>

