    {% for image in product.images %}
<li><img src="{{ image | image_url}}" alt="" class="slider__image"></li>
{% endfor %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<h1 class="cart__meatTitle">{{ product.title }}</h1>
<hr class="cart__meatBorder"/>
<div class="cart__meatExplain">
<p>{{product.description}}</p>
<p style="color:white;">-{{discount.total_amount | money}}</p>
<h1 class="cart__meatPrice">{{product.price | money}}(税込)</h1>
</div>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
    {% if variant.available %}
        <option class="gram-option" value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label class="quanity-label" for="Quantity">個数</label>
  <input type="number" class="quanity-input" id="Quantity" name="quantity" value="1" min="1">
  
  <button  class="cart__meatBtn" type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<section class="product">
  


{% section "original-category" %}
